/******** Simple Ticker Styles for SP -> Start ************/

.ticker_holder, .ticker_holder .ticker_slider, .ticker_slider .each_slide, .ticker_holder .ticker_heading{
	height:22px;
}
.ticker_holder .ticker_slider{
	width: 500px;
	}
.ticker_holder .ticker_heading, .ticker_slider .each_slide, .ticker_slider .each_slide a {
	font-size: 16px;
}
.ticker_holder{
	position:relative;
	overflow:hidden;
	}
.ticker_holder .ticker_slider{
	position:relative;
	overflow:hidden;
	text-align:center;
	display:block;
	float: left;
	}
.ticker_holder .ticker_control{
	float:left;
	text-align:center;
	text-align:right;
	width:27px;
	padding-top: 7px;
	}
.ticker_control a{
	display:inline-block;
	padding: 0 2px;
	width:7px;
	height:8px;
	float:left;
}
.ticker_control a.prev{
	background:url(ticker_prev.png) no-repeat;
	width:4px;
	}
.ticker_control a.play{
	background:url(ticker_pause.png) no-repeat;
	}
.ticker_control a.pause{
	background:url(ticker_play.png) no-repeat;
	}
.ticker_control a.next{
	background:url(ticker_next.png) no-repeat;
	width:4px;
	}
.ticker_slider .each_slide{
	text-align:left;
	padding: 0; margin: 0;
	}
.ticker_holder .ticker_heading{
	color:#e31723;
	background:#fff;
	font-weight:bold;
	float:left;
	padding:0 10px 0 0;
	}

/******** Simple Ticker Styles for SP -> End ************/







